/* 全局样式 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    background-color: black;
}

a {
    text-decoration: none;
    color: white;
}

main {
    padding-top: 11vh; /* 头部高度，应该等于header-content的height */
}

.text-overlay {
    position: absolute;
    color: rgb(255, 255, 255, 0.9);
    text-align: center;
    font-weight: 700;
    z-index: 10;
    font-family: Arial, sans-serif;
    background-color: rgba(128, 128, 128, 0.5); /* Optional background for better readability */
    display: flex;
    flex-direction: column;
    padding: 30px 45px;
    width: 100%; /* 让内容覆盖整个屏幕 */
}

.join-text {
    font-size: 80px; /* 调整为适合小屏的字体大小 */
    font-weight: bold;
    margin-bottom: 10px;
}

.highlight {
    color: #cd181f;
}

.club-info {
    font-size: 1.5rem; /* 减小字号 */
    margin-bottom: 10px;
}

.download-button {
    border: none;
    border-radius: 50rem !important;
    cursor: pointer;
    transition: background-color 0.3s;
    background-color: #cd181f !important;
    border-color: #b31117 !important;
    color: #fff;
    font-size: 20px !important; /* 减小字体大小 */
    padding: 0.5rem 3rem !important;
    margin: 0 auto;
    animation: glowing 1300ms infinite;
    max-width: 250px; /* 限制最大宽度 */
    white-space: nowrap;
}

@keyframes glowing {
    0% {
        background-color: #cd181f;
        box-shadow: 0 0 5px #cd181f;
    }

    50% {
        background-color: #ff4c5e;
        box-shadow: 0 0 20px #ff4c5e;
    }

    100% {
        background-color: #cd181f;
        box-shadow: 0 0 5px #cd181f;
    }
}

.download-button:hover {
    background-color: #b30000;
}

.swiper-container {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 350px; /* 调整轮播图的高度 */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev {
    color: #666;
    opacity: 0;
    transition: opacity 0.3s;
}

.swiper-container:hover .swiper-button-prev,
.swiper-container:hover .swiper-button-next {
    opacity: 1;
}

.swiper-pagination-bullet {
    background: #ccc;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background: #666;
}

.content-module {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: auto;
    overflow: visible;
}

#content-frame {
    width: 100%;
    height: 100%;
    border: none;
}

footer {
    background-color: #000;
    color: #fff;
    padding: 20px 20px; /* 减少左右边距 */
    box-sizing: border-box;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px; /* 减小间距 */
    flex-wrap: wrap;
    width: 100%;
    padding: 10px 0;
}

.logo-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icons-section {
    display: flex;
    flex-direction: column;
    gap: 15px; /* 减少图标间距 */
    align-items: center;
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
    flex-shrink: 1;
    flex-grow: 1;
    max-width: 600px;
}

.payment-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    width: 100%;
}

.payment-icons img {
    max-height: 30px; /* 缩小图标大小 */
}

#hs-web-sdk-iframe {
    position: fixed;
    inset: auto 50px 90px auto;
    min-height: 380px;
    max-height: 780px;
    min-width: 360px;
    max-width: 380px;
    height: calc(100% - 76px);
    width: 100%;
    border: none;
    border-radius: 12px;
    z-index: 9999999;
    overflow: hidden;
    transform: translate3d(0px, 0px, 0px);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 32px;
    animation: 0.3s cubic-bezier(0.25, 0.1, 0.25, 1) 0s 1 normal none running hs-websdk-slide-up;
}

@media (max-width: 768px) {
    body {
        overflow-x: hidden; /* 禁用水平滚动条 */
    }

    .header-content {
        flex-direction: column;
        align-items: flex-start;
    }

    .message-horn {
        margin: 10px 0;
    }

    .navbar {
        flex-direction: column;
        width: 100%;
    }

    .nav-item {
        margin: 5px 0;
    }

    main {
        padding-top: 422px;
    }

    .swiper-container {
        height: 200px; /* 为移动端调整轮播图高度 */
        overflow: hidden;

    }

    #content-frame {
        height: 400px;
    }

    footer {
        width: 100%;
        padding: 20px 20px;
    }

    .footer-content {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .download-button {
        max-width: 200px;
        font-size: 18px; /* 更小的按钮字体 */
        padding: 0.5rem 2.5rem;
    }

    .join-text {
        font-size: 60px; /* 更适合手机的字号 */
    }

    .highlight {
        font-size: 1.8rem; /* 调整文字大小 */
    }

    .club-info {
        font-size: 1.25rem; /* 减小字体大小 */
    }

    .icons-section {
        width: 100%; /* 让图标区块自适应宽度 */
        max-width: 600px;
        margin: 0 auto;
    }

    .payment-icons {
        justify-content: center;
        gap: 10px;
    }

    .payment-icons img {
        max-height: 30px;
    }

    .text-overlay {
        width: 100%;
        left: 0;
        top: 40%;
        transform: none; /* 取消不必要的 transform */
        position: absolute;
        color: rgb(255, 255, 255, 0.9);
        text-align: center;
        font-weight: 700;
        z-index: 10;
        font-family: Arial, sans-serif;
        background-color: rgba(128, 128, 128, 0.5); /* Optional background for better readability */
        display: flex;
        flex-direction: column;
        padding: 30px 45px;
    }

    #hs-web-sdk-iframe {
        inset: auto 21px 72px auto;
        height: calc(100% - 76px);
    }
}

